canvas#scr {
    position: absolute;
    top: 0px;
    left: 0px;
}

div#buttonsContainer {
    position: absolute;
    bottom: 10px;
    height: 120px;
    width: 100%;
    text-align: center;
}

div#buttons {
    background-color: rgba(0, 0, 0, 0.4);
    height: 120px;
    border-radius: 90px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block
}

canvas.btnIconRender {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px #002200;
}

canvas.btnIconRender:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    background: rgba(30, 30, 30, 1);
    padding: 0px;
    margin: 0px;
}
